<?xml version="1.0" encoding="UTF-8"?>
<?define ProductVersion = "0.4.0"?>
<?define ProductUpgradeCode = "5a2e7ccd-6ced-4a6b-9745-d8d73ed070cc"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
  <Product Id="*" Name="Debugger Image Visualizer for Visual Studio" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Aleksander Berus" UpgradeCode="$(var.ProductUpgradeCode)">

    <Package InstallerVersion="400" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" Platform="x86" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!--<Upgrade Id="$(var.ProductUpgradeCode)">
         <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
         <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED"/>	  
    </Upgrade>
    <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>-->

    <!--<Property Id="ADDLOCAL" Value="ProductFeature,ProductFeature1,ProductFeature2" />-->

    <!--
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />    Remove repair 
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />     Remove modify 
    -->

    <!--<Icon Id="icon" SourceFile="ImageDebuggerVisaulizer.ico" />-->
    <!--<Property Id="ARPPRODUCTICON" Value="icon" />-->
    <Property Id="ARPCOMMENTS" Value="Copyright (c) aberus.com 2016-2018" />
    <Property Id="ARPCONTACT" Value="Aleksander Berus" />
    <Property Id="ARPREADME" Value="https://github.com/aberus/ImageVisualizer/blob/master/README.md"/>
    <Property Id="ARPHELPLINK" Value="http://www.aberus.com/"/>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />

    <PropertyRef Id="VS2010_ROOT_FOLDER" />
    <PropertyRef Id="VS2012_ROOT_FOLDER" />
    <PropertyRef Id="VS2013_ROOT_FOLDER" />
    <PropertyRef Id="VS2015_ROOT_FOLDER" />
    <PropertyRef Id="VS2017_ROOT_FOLDER" />

    <PropertyRef Id="VS2010_EXTENSIONS_DIR" />
    <PropertyRef Id="VS2012_EXTENSIONS_DIR" />
    <PropertyRef Id="VS2013_EXTENSIONS_DIR" />
    <PropertyRef Id="VS2015_EXTENSIONS_DIR" />
    <PropertyRef Id="VS2017_EXTENSIONS_DIR" />

    <PropertyRef Id="VS2010DEVENV" />
    <PropertyRef Id="VS2012DEVENV" />
    <PropertyRef Id="VS2013DEVENV" />
    <PropertyRef Id="VS2015DEVENV" />
    <PropertyRef Id="VS2017DEVENV" />

    <CustomAction Id="VS2012TouchExtensions"
                  Directory='VS2012_EXTENSIONS_DIR'
                  Execute="deferred"
                  Impersonate="no"
                  ExeCommand="[SystemFolder]cmd.exe /c &quot;copy /b extensions.configurationchanged +,,&quot;"
                  Return="ignore" />

    <CustomAction Id="VS2013TouchExtensions"
                  Directory='VS2013_EXTENSIONS_DIR'
                  Execute="deferred"
                  Impersonate="no"
                  ExeCommand="[SystemFolder]cmd.exe /c &quot;copy /b extensions.configurationchanged +,,&quot;"
                  Return="ignore" />

    <CustomAction Id="VS2015TouchExtensions"
                  Directory='VS2015_EXTENSIONS_DIR'
                  Execute="deferred"
                  Impersonate="no"
                  ExeCommand="[SystemFolder]cmd.exe /c &quot;copy /b extensions.configurationchanged +,,&quot;"
                  Return="ignore" />

    <CustomAction Id="VS2017TouchExtensions"
                  Directory='VS2017_EXTENSIONS_DIR'
                  Execute="deferred"
                  Impersonate="no"
                  ExeCommand="[SystemFolder]cmd.exe /c &quot;copy /b extensions.configurationchanged +,,&quot;"
                  Return="ignore" />


    <!-- Custom action to block install if a Visual Studio 2005 or 2008 -->
    <!--
    -->
    <!-- edition is not installed on the user's system.                 -->
    <!--
    <CustomAction Id="CA_BlockIfVSIsNotInstalled" Error="!(loc.LaunchCondition_MissingVS)" />
    -->

    <!--<Condition Message="!(loc.LaunchCondition_AdminPrivs)">
      <![CDATA[Privileged]]>
    </Condition>-->

    <Feature Id="ProductFeature" Title="Install Image Visualizer for" Display="expand"  InstallDefault="local" Absent="disallow" AllowAdvertise="no">
      <Feature Id="ProductFeature11" Title="Microsoft Visual Studio 2012" Level="2">
        <Condition Level="1"><![CDATA[VS2012_ROOT_FOLDER AND VS2012DEVENV]]></Condition>
        <ComponentGroupRef Id="ImageVisualizer2012Components" />
        <ComponentGroupRef Id="ImageVisualizer2012VsixComponents"/>
      </Feature>
      <Feature Id="ProductFeature12" Title="Microsoft Visual Studio 2013" Level="2">
        <Condition Level="1"><![CDATA[VS2013_ROOT_FOLDER AND VS2013DEVENV]]></Condition>
        <ComponentGroupRef Id="ImageVisualizer2013Components" />
        <ComponentGroupRef Id="ImageVisualizer2013VsixComponents"/>
      </Feature>
      <Feature Id="ProductFeature14" Title="Microsoft Visual Studio 2015" Level="2">
        <Condition Level="1"><![CDATA[VS2015_ROOT_FOLDER AND VS2015DEVENV]]></Condition>
        <ComponentGroupRef Id="ImageVisualizer2015Components" />
        <ComponentGroupRef Id="ImageVisualizer2015VsixComponents"/>
      </Feature>
      <Feature Id="ProductFeature15" Title="Microsoft Visual Studio 2017" Level="2">
        <Condition Level="1"><![CDATA[VS2017_ROOT_FOLDER AND VS2017DEVENV]]></Condition>
        <ComponentGroupRef Id="ImageVisualizer2017Components" />
        <ComponentGroupRef Id="ImageVisualizer2017VsixComponents"/>
      </Feature>
    </Feature>
    <!--<Condition Message="This application is only supported on Windows Vista, Windows Server 2008, or higher.">
    <![CDATA[Installed OR (VersionNT >= 600)]]>
    </Condition>-->


    <UIRef Id="WixUI_FeatureTree" />
    <!--<UIRef Id="WixUI_Advanced" />-->

    <InstallExecuteSequence>
      <Custom Action="VS2012TouchExtensions" After="InstallFiles">
        <![CDATA[&ProductFeature11=3]]>
      </Custom>
      <Custom Action="VS2013TouchExtensions" After="InstallFiles">
        <![CDATA[&ProductFeature12=3]]>
      </Custom>
      <Custom Action="VS2015TouchExtensions" After="InstallFiles">
        <![CDATA[&ProductFeature14=3]]>
      </Custom>
      <Custom Action="VS2017TouchExtensions" After="InstallFiles">
        <![CDATA[&ProductFeature15=3]]>
      </Custom>
    </InstallExecuteSequence>


    <!--<InstallExecuteSequence>
      <Custom Action="CA_BlockIfVSIsNotInstalled" Before="CostInitialize">(NOT VS2005_ROOT_FOLDER OR NOT VS2005DEVENV) AND NOT VCSHARP2005EXPRESS_IDE AND NOT VB2005EXPRESS_IDE AND (NOT VS90_ROOT_FOLDER OR NOT VS90DEVENV) AND NOT VCSHARP90EXPRESS_IDE AND NOT VB90EXPRESS_IDE AND NOT Installed</Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="CA_BlockIfVSIsNotInstalled" Before="CostInitialize">(NOT VS2005_ROOT_FOLDER OR NOT VS2005DEVENV) AND NOT VCSHARP2005EXPRESS_IDE AND NOT VB2005EXPRESS_IDE AND (NOT VS90_ROOT_FOLDER OR NOT VS90DEVENV) AND NOT VCSHARP90EXPRESS_IDE AND NOT VB90EXPRESS_IDE AND NOT Installed</Custom>
    </InstallUISequence>-->

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="Program Files">
        <Directory Id="VS2012_ROOT_FOLDER" Name="Microsoft Visual Studio 11.0">
          <Directory Id="Common7_2012" Name="Common7">
            <Directory Id="Packages_2012" Name="Packages">
              <Directory Id="Debugger_2012" Name="Debugger">
                <Directory Id="Visualizers_2012" Name="Visualizers">
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="VS2012_EXTENSIONS_DIR" Name="Extensions">
          <Directory Id="ImageVisualizer_2012" Name="ImageVisualizer">
          </Directory>
        </Directory>
        <Directory Id="VS2013_ROOT_FOLDER" Name="Microsoft Visual Studio 12.0">
          <Directory Id="Common7_2013" Name="Common7">
            <Directory Id="Packages_2013" Name="Packages">
              <Directory Id="Debugger_2013" Name="Debugger">
                <Directory Id="Visualizers_2013" Name="Visualizers">
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="VS2013_EXTENSIONS_DIR" Name="Extensions">
          <Directory Id="ImageVisualizer_2013" Name="ImageVisualizer">
          </Directory>
        </Directory>
        <Directory Id="VS2015_ROOT_FOLDER" Name="Microsoft Visual Studio 14.0">
          <Directory Id="Common7_2015" Name="Common7">
            <Directory Id="Packages_2015" Name="Packages">
              <Directory Id="Debugger_2015" Name="Debugger">
                <Directory Id="Visualizers_2015" Name="Visualizers">
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="VS2015_EXTENSIONS_DIR" Name="Extensions">
          <Directory Id="ImageVisualizer_2015" Name="ImageVisualizer">
          </Directory>
        </Directory>
        <Directory Id="VS2017_ROOT_FOLDER" Name="Microsoft Visual Studio 15.0">
          <Directory Id="Common7_2017" Name="Common7">
            <Directory Id="Packages_2017" Name="Packages">
              <Directory Id="Debugger_2017" Name="Debugger">
                <Directory Id="Visualizers_2017" Name="Visualizers">
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="VS2017_EXTENSIONS_DIR" Name="Extensions">
          <Directory Id="ImageVisualizer_2017" Name="ImageVisualizer">
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ImageVisualizer2012Components" Directory="Visualizers_2012">
      <Component Id="ImageVisualizer2012DllComponent" Guid="b5833f8e-afed-4348-87c5-e2997176392e" Transitive="yes">
        <File Id="ImageVisualizer2012Dll" Name="Aberus.VisualStudio.Debugger.ImageVisualizer.dll" Source="$(var.ImageVisualizer11.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ImageVisualizer2012VsixComponents" Directory="ImageVisualizer_2012">
      <Component Id="ImageVisualizer2012PkgdefComponent" Guid="32299f57-809e-4aea-b293-58a136af6c3b">
        <File Id="ImageVisualizer2012Pkgdef" Name="ImageVisualizer.pkgdef" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.pkgdef" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2012VsixManifestComponent" Guid="a9b865aa-ad60-45b3-81b9-272fc76b10ca">
        <File Id="ImageVisualizer2012VsixManifest" Name="extension.vsixmanifest" Source="$(var.ImageVisualizer.TargetDir)extension.vsixmanifest" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2012VsixIconComponent" Guid="89a7fcca-8e52-46f1-8449-3b8dec8a99e7">
        <File Id="ImageVisualizer2012VsixIcon" Source="$(var.ImageVisualizer.TargetDir)Logo_128x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2012VsixPreviewComponent" Guid="e9738b64-6b18-4410-8668-fc8b8bb8073a">
        <File Id="ImageVisualizer2012VsixPreview" Source="$(var.ImageVisualizer.TargetDir)Preview_200x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2012VsixDllComponent" Guid="3b38bc64-ad2b-4200-9fc0-a77874ac8d64">
        <File Id="ImageVisualizer2012VsixDll" Name="ImageVisualizer.dll" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ImageVisualizer2013Components" Directory="Visualizers_2013">
      <Component Id="ImageVisualizer2013DllComponent" Guid="82312583-d3ac-4571-bae4-ef43d11ab684" Transitive="yes">
        <File Id="ImageVisualizer2013Dll" Name="Aberus.VisualStudio.Debugger.ImageVisualizer.dll" Source="$(var.ImageVisualizer12.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
  <ComponentGroup Id="ImageVisualizer2013VsixComponents" Directory="ImageVisualizer_2013">
      <Component Id="ImageVisualizer2013PkgdefComponent" Guid="fc7ca9d5-9b43-430d-9b5a-696bb4fa26f6">
        <File Id="ImageVisualizer2013Pkgdef" Name="ImageVisualizer.pkgdef" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.pkgdef" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2013VsixManifestComponent" Guid="dbcc9203-394c-4dfe-8a6d-36c7853e8160">
        <File Id="ImageVisualizer2013VsixManifest" Name="extension.vsixmanifest" Source="$(var.ImageVisualizer.TargetDir)extension.vsixmanifest" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2013VsixIconComponent" Guid="d686df96-36fb-4ed0-ab5a-002f59634cdd">
        <File Id="ImageVisualizer2013VsixIcon" Source="$(var.ImageVisualizer.TargetDir)Logo_128x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2013VsixPreviewComponent" Guid="ca58617e-512e-4bba-a583-5540cfb9614d">
        <File Id="ImageVisualizer2013VsixPreview" Source="$(var.ImageVisualizer.TargetDir)Preview_200x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2013VsixDllComponent" Guid="e43957e2-2e9d-4b95-9c9d-1cd5381be737">
        <File Id="ImageVisualizer2013VsixDll" Name="ImageVisualizer.dll" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ImageVisualizer2015Components" Directory="Visualizers_2015">
      <Component Id="ImageVisualizer2015DllComponent" Guid="0df0118c-d660-401d-a391-96f8f582194d" Transitive="yes">
        <File Id="ImageVisualizer2015Dll" Name="Aberus.VisualStudio.Debugger.ImageVisualizer.dll" Source="$(var.ImageVisualizer14.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
  <ComponentGroup Id="ImageVisualizer2015VsixComponents" Directory="ImageVisualizer_2015">
      <Component Id="ImageVisualizer2015PkgdefComponent" Guid="57396bee-e0df-40e2-bfc4-d0cb1cae2eca">
        <File Id="ImageVisualizer2015Pkgdef" Name="ImageVisualizer.pkgdef" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.pkgdef" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2015VsixManifestComponent" Guid="6ca71c3c-4893-4a0b-aaf3-56f92af50bf3">
        <File Id="ImageVisualizer2015VsixManifest" Name="extension.vsixmanifest" Source="$(var.ImageVisualizer.TargetDir)extension.vsixmanifest" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2015VsixIconComponent" Guid="c95ceec2-0714-4aae-843a-71c31e76ad4a">
        <File Id="ImageVisualizer2015VsixIcon" Source="$(var.ImageVisualizer.TargetDir)Logo_128x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2015VsixPreviewComponent" Guid="5debbdc2-49d8-493c-8593-bcea2e883d39">
        <File Id="ImageVisualizer2015VsixPreview" Source="$(var.ImageVisualizer.TargetDir)Preview_200x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2015VsixDllComponent" Guid="81bc275a-04c9-4c22-8694-7976462d567e">
        <File Id="ImageVisualizer2015VsixDll" Name="ImageVisualizer.dll" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ImageVisualizer2017Components" Directory="Visualizers_2017">
      <Component Id="ImageVisualizer2017DllComponent" Guid="07cf3d02-cb8a-48d0-af50-5065a2d4cf35" Transitive="yes">
        <File Id="ImageVisualizer2017Dll" Name="Aberus.VisualStudio.Debugger.ImageVisualizer.dll" Source="$(var.ImageVisualizer15.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <!--<Component Id="ImageVisualizerVsix15Component" Guid="d255d924-61e5-4687-bfc4-3000d83a7e06">
        <File Id="ImageVisualizer15Vsix" Name="ImageVisualizer.vsix" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.vsix" Vital="yes">
          <VSExtension:VsixPackage PackageId="2443c97f-77f2-47ea-b473-7f34832b2f86" Target="professional" TargetVersion="15.0" Permanent="no" Vital="yes" />
        </File>
      </Component>-->
    </ComponentGroup>
    <ComponentGroup Id="ImageVisualizer2017VsixComponents" Directory="ImageVisualizer_2017">
      <Component Id="ImageVisualizer2017PkgdefComponent" Guid="ecfe0e9b-e734-4bb0-a66e-a776c08fd92d">
        <File Id="ImageVisualizer2017Pkgdef" Name="ImageVisualizer.pkgdef" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.pkgdef" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2017VsixManifestComponent" Guid="fe6c2754-ebd7-4d46-9175-07b114f9d5e0">
        <File Id="ImageVisualizer2017VsixManifest" Name="extension.vsixmanifest" Source="$(var.ImageVisualizer.TargetDir)extension.vsixmanifest" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2017VsixIconComponent" Guid="6d3168c7-bfb7-4f95-8483-1d2de9189beb">
        <File Id="ImageVisualizer2017VsixIcon" Source="$(var.ImageVisualizer.TargetDir)Logo_128x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2017VsixPreviewComponent" Guid="18ba42fa-22ab-44c3-9000-cc435a22484b">
        <File Id="ImageVisualizer2017VsixPreview" Source="$(var.ImageVisualizer.TargetDir)Preview_200x.png" KeyPath="yes"/>
      </Component>
      <Component Id="ImageVisualizer2017VsixDllComponent" Guid="51df33e2-b196-416c-988a-1ef37a7c3907">
        <File Id="ImageVisualizer2017VsixDll" Name="ImageVisualizer.dll" Source="$(var.ImageVisualizer.TargetDir)ImageVisualizer.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>